.fromContainer {
  position: fixed;
  z-index: 1;
  background-color: rgb(0, 0, 0,0.3);
  width: 540px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px;
}

.logintitle {
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  color: white;
}